<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" /> 
</head>
<body>
    <footer>
        <div class="content_foot">
            <div class="left_foot box">
                <div class="logo_foot">
                    <a href="/"><img src="/images/logo_1.png" alt="Under Games" class="logo_image_foot"></a>
                </div>
                <div class="created_by_foot">
                    <a href="/" alt="Under Games">created by Under Games</a> 
                </div>
            </div>
            <div class="middle_foot box">
                <div class="links_01_foot">
                    <div class="terms_of_service_foot">
                        <a href="/under_constr">Terms of Service</a> 
                    </div>
                    <div class="store_refund_policy_foot">
                        <a href="/under_constr">Store Refund Policy</a>                         
                    </div>
                </div>
                <div class="links_02_foot">
                    <div class="contact_foot">
                        <a href="/under_constr">Contact</a> 
                    </div>
                    <div class="privacy_policy_foot">
                        <a href="/under_constr">Privacy Policy</a> 
                    </div>
                </div>
            </div>    
            <div class="right_foot box">
                <div class="icons_network_foot">
                    <div class="media-icons_foot">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <br>
                        <div class="email_foot">
                            <a href="#"><i class="fas fa-envelope"></i>   undergamesarg@gmail.com</a>
                        </div>
                </div>
                <div class="media-icons_foot"> <!--   "icons_payments_foot"> -->
                        <a href="#"><i class="fa-brands fa-cc-visa"></i></a>
                        <a href="#"><i class="fa-brands fa-cc-mastercard"></i></a>
                        <a href="#"><i class="fa-brands fa-cc-amex"></i></a>
                        <a href="#"><i class="fa-solid fa-money-check-dollar"></i></a>
                </div>
            </div>
        </div>

    <div class="bottom_foot">
        <p>Copyright &#169; 2022 <a href="#">Under Games</a> All rights reserved</p>
    </div>

    </footer>
</body>
</html>