<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Games</title>
    
    <link rel="stylesheet"  href="/css/styles_home.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" /> 


</head>
<body>

<header>
    
<div class="navbar_header">
    <div class="left_bar">
    <a class="active" href="/index"><img src="/images/logo_1.png" alt="Under Games" class="logo_header"> Under Games</a> 
    
  </div>  
  <div class="right_bar">
    <a href="/login" class="fa-solid fa-user fa-xl"></i></a>
    <a href="/productCart"><i class="fa-solid fa-cart-shopping fa-xl"></i></a> 
    <a href="/under_constr"><i class="fa-solid fa-circle-question fa-xl"></i></a> 
  </div>
  </div>
  
  
  </header>    

<form class="search-form">
          <input type="text" class="search-box" 
          placeholder="Search                                 ">
          <i class="fa-solid fa-magnifying-glass"  style='color: white'></i>      
      </form>
<br>    

<div class="principal">
    <div class="column left">  
        <div class="carousel" data-flickity='{"freeScroll": true, "wrapAround":true }'>
            <div class="carousel-cell">    
              <div class="image_ppal_home">
                <a href="/productDetail"><img src="/images/image_01.jpg" alt="" class="image_game_ppal_home"></a>
                        <div class="title">Juego 1</div>
                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora praesentium explicabo officiis nam, quaerat, a repellat atque autem earum architecto placeat cum voluptatem dignissimos! Ea libero a ipsam accusamus quos?</div>
                </div>
            </div>
            <div class="carousel-cell">    
                <div class="image_ppal_home">
                  <a href="/productDetail"><img src="/images/image_02.jpg" alt="" class="image_game_ppal_home"></a>
                        <div class="title">Juego 2</div>
                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora praesentium explicabo officiis nam, quaerat, a repellat atque autem earum architecto placeat cum voluptatem dignissimos! Ea libero a ipsam accusamus quos?</div>
                </div>
            </div>
            <div class="carousel-cell">    
                <div class="image_ppal_home">
                  <a href="/productDetail"><img src="/images/image_03.jpg" alt="" class="image_game_ppal_home"></a>
                        <div class="title">Juego 3</div>
                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora praesentium explicabo officiis nam, quaerat, a repellat atque autem earum architecto placeat cum voluptatem dignissimos! Ea libero a ipsam accusamus quos?</div>
                </div>
            </div>
            <div class="carousel-cell">    
                <div class="image_ppal_home">
                  <a href="/productDetail"><img src="/images/image_04.jpg" alt="" class="image_game_ppal_home"></a>
                        <div class="title">Juego 4</div>
                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora praesentium explicabo officiis nam, quaerat, a repellat atque autem earum architecto placeat cum voluptatem dignissimos! Ea libero a ipsam accusamus quos?</div>
                </div>
            </div>
            <div class="carousel-cell">    
                <div class="image_ppal_home">
                  <a href="/productDetail"><img src="/images/image_05.jpg" alt="" class="image_game_ppal_home"></a>
                        <div class="title">Juego 5</div>
                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora praesentium explicabo officiis nam, quaerat, a repellat atque autem earum architecto placeat cum voluptatem dignissimos! Ea libero a ipsam accusamus quos?</div>
                </div>
            </div>
            <div class="carousel-cell">    
                <div class="image_ppal_home">
                  <a href="/productDetail"><img src="/images/image_06.jpg" alt="" class="image_game_ppal_home"></a>
                        <div class="title">Juego 6</div>
                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora praesentium explicabo officiis nam, quaerat, a repellat atque autem earum architecto placeat cum voluptatem dignissimos! Ea libero a ipsam accusamus quos?</div>
                </div>
            </div>
            <div class="carousel-cell">    
                <div class="image_ppal_home">
                  <a href="/productDetail"><img src="/images/image_07.jpg" alt="" class="image_game_ppal_home"></a>
                        <div class="title">Juego 7</div>
                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora praesentium explicabo officiis nam, quaerat, a repellat atque autem earum architecto placeat cum voluptatem dignissimos! Ea libero a ipsam accusamus quos?</div>
                </div>
            </div>
        </div>
    </div>

    <div class="column right">
        <div class="image-right">
          <a href="/productDetail"><img src="/images/image_23.jpg" class="gallery"/></a>
        <p class="text_gallery_right">Lorem ipsum dolor </p>
        </div>
        
        <div class="image-right">     
          <a href="/productDetail"><img src="/images/image_22.jpg" class="gallery" /></a>
        <p class="text_gallery_right">Lorem ipsum dolor </p>
        </div>

        <div class="image-right">     
          <a href="/productDetail"><img src="/images/image_21.jpg" class="gallery" /></a>
        <p class="text_gallery_right">Lorem ipsum dolor  </p>
        </div>
        
        <div class="image-right">     
          <a href="/productDetail"><img src="/images/image_20.jpg" class="gallery" /></a>
        <p class="text_gallery_right">Lorem ipsum dolor  </p>
        </div>

        <div class="image-right">     
          <a href="/productDetail"><img src="/images/image_19.jpg" class="gallery" /></a>
        <p class="text_gallery_right">Lorem ipsum dolor </p>
        </div>
</div> <!--column right -->


</div>






<h1>New Releases</h1>
<div class="carousel" data-flickity='{"freeScroll": true, "wrapAround":true }'>
<!-- <div class="container_images_home"> -->
        <!-- imagen 01-->
<div class="carousel-cell">    
    <div class="new_releases_home">
      <div class="image_box_home">
        <a href="/productDetail">
        <img src="/images/image_01.jpg" alt="" class="image_game_home" width="150px" height="150px">
        </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="price_line_home">
            <div class="original_price_home"><del>$3.000</del></div>
            <div class="price_w_discount_home">$1.500</div>
            <div class="discount_detail_home"><span>50%OFF</span></div>
        </div>
    
    </div>
</div>    
    <!-- imagen 02-->
    <div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/productDetail">
            <img src="/images/image_15.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="price_line_home">
            <div class="original_price_home"><del>$3.000</del></div>
            <div class="price_w_discount_home">$1.500</div>
            <div class="discount_detail_home"><span>50%OFF</span></div>
        </div>
    
    </div>
</div>    
    <!-- imagen 03-->
<div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/productDetail">
            <img src="/images/image_12.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="price_line_home">
            <div class="original_price_home"><del>$3.000</del></div>
            <div class="price_w_discount_home">$1.500</div>
            <div class="discount_detail_home"><span>50%OFF</span></div>
        </div>
    
    </div>
</div>
    <!-- imagen 04-->
<div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/productDetail">
            <img src="/images/image_06.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="price_line_home">
            <div class="original_price_home"><del>$3.000</del></div>
            <div class="price_w_discount_home">$1.500</div>
            <div class="discount_detail_home"><span>50%OFF</span></div>
        </div>
    
    </div>
</div>    
    <!-- imagen 05-->
<div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/productDetail">
            <img src="/images/image_20.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="price_line_home">
            <div class="original_price_home"><del>$3.000</del></div>
            <div class="price_w_discount_home">$1.500</div>
            <div class="discount_detail_home"><span>50%OFF</span></div>
        </div>
    
    </div>
<!--</div>    -->
</div> 

</div>
<!-- End New Releases    -->
<br>
<br>

<h1>Top Sellers</h1>
<div class="carousel" data-flickity='{"freeScroll": true, "wrapAround":true }'>
<!-- <div class="container_images_home"> -->
        <!-- imagen 01-->
<div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/productDetail">
            <img src="/images/image_10.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="price_line_home">
            <div class="original_price_home"><del>$3.000</del></div>
            <div class="price_w_discount_home">$1.500</div>
            <div class="discount_detail_home"><span>50%OFF</span></div>
        </div>
    
    </div>
</div>    
    <!-- imagen 02-->
    <div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/productDetail">
            <img src="/images/image_11.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="price_line_home">
            <div class="original_price_home"><del>$3.000</del></div>
            <div class="price_w_discount_home">$1.500</div>
            <div class="discount_detail_home"><span>50%OFF</span></div>
        </div>
    
    </div>
</div>    
    <!-- imagen 03-->
<div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/productDetail">
            <img src="/images/image_14.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="price_line_home">
            <div class="original_price_home"><del>$3.000</del></div>
            <div class="price_w_discount_home">$1.500</div>
            <div class="discount_detail_home"><span>50%OFF</span></div>
        </div>
    
    </div>
</div>
    <!-- imagen 04-->
<div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/productDetail">
            <img src="/images/image_15.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="price_line_home">
            <div class="original_price_home"><del>$3.000</del></div>
            <div class="price_w_discount_home">$1.500</div>
            <div class="discount_detail_home"><span>50%OFF</span></div>
        </div>
    
    </div>
</div>    
    <!-- imagen 05-->
<div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/productDetail">
            <img src="/images/image_16.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="price_line_home">
            <div class="original_price_home"><del>$3.000</del></div>
            <div class="price_w_discount_home">$1.500</div>
            <div class="discount_detail_home"><span>50%OFF</span></div>
        </div>
    
    </div>
<!--</div>    -->
</div> 

</div>
<!-- End Top Sellers    -->

<br>
<br>
<br>

<div>
    <img src="public/images/banner_01.jpg" alt=""  class="banner">    
</div>

<br>
<br>

<h1>Free</h1>
<div class="carousel" data-flickity='{"freeScroll": true, "wrapAround":true }'>
<!-- <div class="container_images_home"> -->
        <!-- imagen 01-->
<div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/under_constr">
            <img src="/images/image_23.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="download_detail_home"><span>Download</span></div>
    </div>
</div>    
    <!-- imagen 02-->
<div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/under_constr">
            <img src="/images/image_22.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="download_detail_home"><span>Download</span></div>
    </div>
</div>    
    <!-- imagen 03-->
<div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/under_constr">
            <img src="/images/image_21.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="download_detail_home"><span>Download</span></div>
        </div>
    </div>

    <!-- imagen 04-->
<div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/under_constr">
            <img src="/images/image_20.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="download_detail_home"><span>Download</span></div>
    </div>
</div>    
    <!-- imagen 05-->
<div class="carousel-cell">    
    <div class="new_releases_home">
        <div class="image_box_home">
          <a href="/under_constr">
            <img src="/images/image_19.jpg" alt="" class="image_game_home" width="150px" height="150px">
            </a>
            <div class="category_home">category</div>
        </div>
        <div class="title_box_home">title_box</div>
        <div class="creator_box_home">creator_box</div>
        <br>
        <div class="download_detail_home"><span>Download</span></div>
    </div>
</div>
<!--</div>    -->
</div> 

<!-- End Free    -->
<br>
<br>
<br>

<div>
    <img src="/images/banner_02.jpg" alt=""  class="banner">    
</div>

<br>
<br>

<h1>Creators</h1>
<div class="carousel" data-flickity='{"freeScroll": true, "wrapAround":true }'>

        <!-- imagen 01-->
<div class="carousel-cell">    
    <div class="card_creator">
      <a href="/under_constr"><img src="/images/profile_01.png" alt="" class="photo_creator"></a>
        <h4>@creator01</h4>
        <div style="margin: 10px 0;">
        <a href="#"><i class="fa-brands fa-dribbble"></i></a> 
        <a href="#"><i class="fa-brands fa-twitter"></i></a>  
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>  
        <a href="#"><i class="fa-brands fa-facebook"></i></a> 
        </div>
        <p><button id="btn_creator">Buy me!</button></p>
    </div>
</div> 

        <!-- imagen 02-->
        <div class="carousel-cell">    
            <div class="card_creator">
              <a href="/under_constr"><img src="/images/profile_02.png" alt="" class="photo_creator"></a>
                <h4>@creator02</h4>
                <div style="margin: 10px 0;">
                <a href="#"><i class="fa-brands fa-dribbble"></i></a> 
                <a href="#"><i class="fa-brands fa-twitter"></i></a>  
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>  
                <a href="#"><i class="fa-brands fa-facebook"></i></a> 
                </div>
                <p><button id="btn_creator">Buy me!</button></p>
            </div>
        </div> 
        
<!-- imagen 03-->
<div class="carousel-cell">    
    <div class="card_creator">
      <a href="/under_constr"><img src="/images/profile_03.gif" alt="" class="photo_creator"></a>
        <h4>@creator03</h4>
        <div style="margin: 10px 0;">
        <a href="#"><i class="fa-brands fa-dribbble"></i></a> 
        <a href="#"><i class="fa-brands fa-twitter"></i></a>  
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>  
        <a href="#"><i class="fa-brands fa-facebook"></i></a> 
        </div>
        <p><button id="btn_creator">Buy me!</button></p>
    </div>
</div>         
        
<!-- imagen 04-->
<div class="carousel-cell">    
    <div class="card_creator">
      <a href="/under_constr"><img src="/images/profile_04.png" alt="" class="photo_creator"></a>
        <h4>@creator04</h4>
        <div style="margin: 10px 0;">
        <a href="#"><i class="fa-brands fa-dribbble"></i></a> 
        <a href="#"><i class="fa-brands fa-twitter"></i></a>  
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>  
        <a href="#"><i class="fa-brands fa-facebook"></i></a> 
        </div>
        <p><button id="btn_creator">Buy me!</button></p>
    </div>
</div>         
<!-- imagen 05-->
<div class="carousel-cell">    
    <div class="card_creator">
      <a href="/under_constr"><img src="/images/profile_05.gif" alt="" class="photo_creator"></a>
        <h4>@creator05</h4>
        <div style="margin: 10px 0;">
        <a href="#"><i class="fa-brands fa-dribbble"></i></a> 
        <a href="#"><i class="fa-brands fa-twitter"></i></a>  
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>  
        <a href="#"><i class="fa-brands fa-facebook"></i></a> 
        </div>
        <p><button id="btn_creator">Buy me!</button></p>
    </div>
</div>   
<!-- imagen 06-->
<div class="carousel-cell">    
    <div class="card_creator">
      <a href="/under_constr"><img src="/images/profile_06.jpg" alt="" class="photo_creator"></a>
        <h4>@creator06</h4>
        <div style="margin: 10px 0;">
        <a href="#"><i class="fa-brands fa-dribbble"></i></a> 
        <a href="#"><i class="fa-brands fa-twitter"></i></a>  
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>  
        <a href="#"><i class="fa-brands fa-facebook"></i></a> 
        </div>
        <p><button id="btn_creator">Buy me!</button></p>
    </div>
</div>   

<!-- imagen 07-->
<div class="carousel-cell">    
    <div class="card_creator">
      <a href="/under_constr"><img src="/images/profile_07.jpg" alt="" class="photo_creator"></a>
        <h4>@creator07</h4>
        <div style="margin: 10px 0;">
        <a href="#"><i class="fa-brands fa-dribbble"></i></a> 
        <a href="#"><i class="fa-brands fa-twitter"></i></a>  
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>  
        <a href="#"><i class="fa-brands fa-facebook"></i></a> 
        </div>
        <p><button id="btn_creator">Buy me!</button></p>
    </div>
</div>   





<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

</body>
</html>