<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Under Games</title>

  <link rel="stylesheet" href="/css/styles_productCart.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />


</head>

<body>
  <header>

    <div class="navbar_header">
      <div class="left_bar">
        <a class="active" href="/"><img src="/images/logo_1.png" alt="Under Games" class="logo_header"> Under
          Games</a>

      </div>
      <div class="right_bar">
        <a href="/login" class="fa-solid fa-user fa-xl"></i></a>
        <a href="/productCart"><i class="fa-solid fa-cart-shopping fa-xl"></i></a>
        <a href="/under_constr"><i class="fa-solid fa-circle-question fa-xl"></i></a>
      </div>
    </div>


  </header>
  <form class="search-form">
    <input type="text" class="search-box" placeholder="Search                                 ">
    <i class="fa-solid fa-magnifying-glass" style='color: white'></i>
  </form>
  <br>


  <div class="main">
    <div class="baner"><img
        src="https://p4.wallpaperbetter.com/wallpaper/738/177/106/space-galaxy-vertical-portrait-display-wallpaper-preview.jpg">

    </div>
    <div class="card">
      <div class="flex-container">
        <div class="flex-item-1">
          <p class="title">Batman</p> <img
            src="https://p4.wallpaperbetter.com/wallpaper/227/641/136/full-hd-wallpapers-1080p-free-download-wallpaper-preview.jpg">
          <div>


          </div>
        </div>
        <div class="card-info-cart">

          <div class="info1-card-cart">
            <p class="title-card-cart">Windows</p><br>
            <p class="description-card-cart1">Multiplayer</p><br>
            <p class="description-card-cart2">+18</p><br>
            <div class="details-btn-cart"><a href="productDetail.html" target="_blank"
                class="button-card-cart">Details</a></div>
            <!--falta a nueva pagina-->

          </div>

          <div class="info2-card-cart">
            <p class="price-info-cart">$2000</p><br>
            <p class="discount-price-cart">50% OFF</p><br>
            <p class="final-price-cart">$1000</p><br>
            <div class="remove-btn-cart"><a href="#" class="button-card-cart">Remove</a></div>
          </div>


        </div>

      </div>
      <div class="flex-container">
        <div class="flex-item-1">
          <p class="title">Batman</p> <img
            src="https://p4.wallpaperbetter.com/wallpaper/227/641/136/full-hd-wallpapers-1080p-free-download-wallpaper-preview.jpg">
          <div>


          </div>
        </div>
        <div class="card-info-cart">

          <div class="info1-card-cart">
            <p class="title-card-cart">Windows</p><br>
            <p class="description-card-cart1">Multiplayer</p><br>
            <p class="description-card-cart2">+18</p><br>
            <div class="details-btn-cart"><a href="productDetail.html" target="_blank"
                class="button-card-cart">Details</a></div>
            <!--falta a nueva pagina-->

          </div>

          <div class="info2-card-cart">
            <p class="price-info-cart">$2000</p><br>
            <p class="discount-price-cart">50% OFF</p><br>
            <p class="final-price-cart">$1000</p><br>
            <div class="remove-btn-cart"><a href="#" class="button-card-cart">Remove</a></div>
          </div>


        </div>

      </div>
      <div class="flex-container">
        <div class="flex-item-1">
          <p class="title">Batman</p> <img
            src="https://p4.wallpaperbetter.com/wallpaper/227/641/136/full-hd-wallpapers-1080p-free-download-wallpaper-preview.jpg">
          <div>


          </div>
        </div>
        <div class="card-info-cart">

          <div class="info1-card-cart">
            <p class="title-card-cart">Windows</p><br>
            <p class="description-card-cart1">Multiplayer</p><br>
            <p class="description-card-cart2">+18</p><br>
            <div class="details-btn-cart"><a href="productDetail.html" target="_blank"
                class="button-card-cart">Details</a></div>
            <!--falta a nueva pagina-->

          </div>

          <div class="info2-card-cart">
            <p class="price-info-cart">$2000</p><br>
            <p class="discount-price-cart">50% OFF</p><br>
            <p class="final-price-cart">$1000</p><br>
            <div class="remove-btn-cart"><a href="#" class="button-card-cart">Remove</a></div>
          </div>


        </div>

      </div>
      <div class="flex-container">
        <div class="flex-item-1">
          <p class="title">Batman</p> <img
            src="https://p4.wallpaperbetter.com/wallpaper/227/641/136/full-hd-wallpapers-1080p-free-download-wallpaper-preview.jpg">
          <div>


          </div>
        </div>
        <div class="card-info-cart">

          <div class="info1-card-cart">
            <p class="title-card-cart">Windows</p><br>
            <p class="description-card-cart1">Multiplayer</p><br>
            <p class="description-card-cart2">+18</p><br>
            <div class="details-btn-cart"><a href="productDetail.html" target="_blank"
                class="button-card-cart">Details</a></div>
            <!--falta a nueva pagina-->

          </div>

          <div class="info2-card-cart">
            <p class="price-info-cart">$2000</p><br>
            <p class="discount-price-cart">50% OFF</p><br>
            <p class="final-price-cart">$1000</p><br>
            <div class="remove-btn-cart"><a href="#" class="button-card-cart">Remove</a></div>
          </div>


        </div>

      </div>
      <div class="flex-container">
        <div class="flex-item-1">
          <p class="title">Batman</p> <img
            src="https://p4.wallpaperbetter.com/wallpaper/227/641/136/full-hd-wallpapers-1080p-free-download-wallpaper-preview.jpg">
          <div>


          </div>
        </div>
        <div class="card-info-cart">

          <div class="info1-card-cart">
            <p class="title-card-cart">Windows</p><br>
            <p class="description-card-cart1">Multiplayer</p><br>
            <p class="description-card-cart2">+18</p><br>
            <div class="details-btn-cart"><a href="productDetail.html" target="_blank"
                class="button-card-cart">Details</a></div>
            <!--falta a nueva pagina-->

          </div>

          <div class="info2-card-cart">
            <p class="price-info-cart">$2000</p><br>
            <p class="discount-price-cart">50% OFF</p><br>
            <p class="final-price-cart">$1000</p><br>
            <div class="remove-btn-cart"><a href="#" class="button-card-cart">Remove</a></div>
          </div>


        </div>

      </div>
      <div class="flex-container">
        <div class="flex-item-1">
          <p class="title">Batman</p> <img
            src="https://p4.wallpaperbetter.com/wallpaper/227/641/136/full-hd-wallpapers-1080p-free-download-wallpaper-preview.jpg">
          <div>


          </div>
        </div>
        <div class="card-info-cart">

          <div class="info1-card-cart">
            <p class="title-card-cart">Windows</p><br>
            <p class="description-card-cart1">Multiplayer</p><br>
            <p class="description-card-cart2">+18</p><br>
            <div class="details-btn-cart"><a href="productDetail.html" target="_blank"
                class="button-card-cart">Details</a></div>
            <!--falta a nueva pagina-->

          </div>

          <div class="info2-card-cart">
            <p class="price-info-cart">$2000</p><br>
            <p class="discount-price-cart">50% OFF</p><br>
            <p class="final-price-cart">$1000</p><br>
            <div class="remove-btn-cart"><a href="#" class="button-card-cart">Remove</a></div>
          </div>


        </div>

      </div>

    </div>



    <div class="flex-item-3">
      <h2><strong>Sumary</strong></h2>
      <center>
        <table class="sumary-table" border="1px">

          <tr>
            <td>
              Title
            </td>
            <td>
              Price
            </td>

          </tr>
          <td>
            Game
          </td>
          <td>
            120US$
          </td>

          </tr>
          </tr>

          <td>
            Game
          </td>
          <td>
            120US$
          </td>

          </tr>
          <td>
            Game
          </td>
          <td>
            120US$
          </td>

          </tr>
          </tr>
          <td>
            Subt Total
          </td>
          <td>
            360US$
          </td>

          </tr>
          </tr>
          <td>
            Discounts
          </td>
          <td>
            120US$
          </td>

          </tr>
          </tr>
          <td>
            Total
          </td>
          <td>
            240US$
          </td>

          </tr>

        </table>

    </div>

  </div>

</body>

</html>