
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
 
#body__PD{
    background-color: #37393b;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    
  }
  

  /* buscador */

#nav-bar__PD {
  display: flex;
  justify-content: center;
  align-items: center;
}

#box__PD {
  position: relative;
  width: 100%;
  max-width: 50%;
  padding: 20px 130px;
  border-radius: 10px;
  margin: 10px; 
}

#lupa__PD {
  position: relative;
  color: rgb(166, 173, 175);
  top: 5px;
  right: 40px;
}


  /* buscador */

.supersection {
  display: flex;
  flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
  /*   height: 800px; */
}
.cart-section__PD {
  width: 100%;
  background-color:#1e1d1d;
  
  filter: drop-shadow(2px 1px 1px #000000);
  max-width: 30%;
  margin: auto 0;
  margin-left: 60%;
  position: fixed;
/*   top: 20%; */
  bottom: 20%;
  /*   top: 0%; */
    transform: translateY(20%); 
    border-radius: 2%;

}

.cart-section__PD h1 {
  color: azure;
  text-align: center;
  margin: 5px;
}

.cart-section__PD table {
  color: azure;
  margin: 5px auto;
}

.cart-section__PD img {
  width: 100%;
  max-width: 600px;
  margin: 10px 0 10px
}

.cart-section__PD div {
  margin: 5px;
}
.cart-section__PD button{
  font-weight: bold;
  margin: auto;
  margin-bottom: 15px;
  color: azure;
  background-color: #33771f;
  width: 10em;
  padding: 3px;
  border-radius: 5px;

}

.prize__PD, .discount__PD {
  text-align: center;
  color: azure;
  
}



.container__PD {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  position: relative;
  width: 60%;
/*   min-width: 30%; */
  max-width: 1600px; 
  margin: auto;
  padding-bottom: 1px;
/*   bottom: 20vh; */
  right: 15%; 
 

} 

 ul > li {      
  margin: 0;
  padding: 0;
  list-style: none;
} 
 
.wrapper-descripcion__PD{
  height: 100%;
  position: relative
}


#descripcion__PD {
        
  padding: 20px;
  text-align: center;
  width: 100%;                  
  max-width: 50%;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 13%;
}
.specifications__PD {
  color: rgba(250, 246, 246, 0.918);
  margin: 20px auto; 
  width: 100%;
  max-width: 40%;
  position: relative;
  text-align: center;
  right: 10%;
  background-color:#1e1d1d;
 
  
  }


ul.slider__PD {
  position: absolute;
  top: 10px;
/*   max-width: 600px; */
  width: 100%;
  aspect-ratio: 16/9;

}

.menu__PD {
  display: flex;
  justify-content: center;
  margin: auto;
  height: auto;
  padding-top: 59%;

}

ul.slider__PD li {
    position:absolute;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    opacity: 0;

    background:linear-gradient(to bottom, rgb(43, 43, 43));
    transition: opacity .5s;
    aspect-ratio: 16/9;
}

ul.slider__PD li img {
    width: 100%;

    aspect-ratio: 16/9;
    height: auto;
 
}



ul.slider__PD li iframe {
  width: 100%;
/*   max-width: 85%; */
  aspect-ratio: 16/9;

}




ul.slider__PD li:first-child,
ul.slider__PD li:target {
  opacity: 1;

}



.menu__PD li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-width: 15%;
  height: auto;
  margin: auto;

}



.menu__PD li a img{

   margin:auto;
   padding: 2px; 
   width: 100%;
/*    min-width: 10%; */
   height: auto;
   max-width: 100%;
   border-radius: 15px;
   aspect-ratio: 16/9;
 }   

 
 @media screen and (max-width: 768px) {
  
  .supersection {
    max-width: 100%;
    height: 100%;
  }

  .cart-section__PD {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-between;
    width: 100%;
    /* background-color: #33415c; */
    max-width: 600px;
    margin:0 auto;
    position: static;
    border-radius: 2%;
    margin-top:20px

  
  }

  .container__PD {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding-bottom: 1px;
    bottom: 0;
    right: 0;
  
  } 

  ul.slider__PD {
    position: absolute;
    top: 10px;
    max-width: 600px;
    width: 100%;
    aspect-ratio: 16/9;

}

  .menu__PD {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    height: auto;
    padding-top: 59%;
 
  }

.menu__PD > li:first-child {
   display: none; 
  }

.menu__PD > li:last-child {
   display: none; 
  }

   ul.slider__PD li img{
    width: 100%;
    height: auto; 

  } 

  .menu__PD li a img{
    border: 2px solid rgb(41, 61, 70); 
     margin:auto;
     padding: 2px; 
     width: 90%;
     min-width: 22.5vw;
     height: auto;
     max-width: 100px;
   
     aspect-ratio: 16/9;
   }   

.wrapper-descripcion__PD{
  height: 100%;
}
   #descripcion__PD {
      
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 500px;
  }
  .specifications__PD {
    color: rgba(250, 246, 246, 0.918);
    background-color: #979dac;
    margin: 20px auto; 
    text-align: center;
    width: 90%;
    max-width: 550px;
    }

   

}



@media screen and (max-width: 576px) {

  .cart-section__PD {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-between;
    width: 100%;
    background-color: #33415c;
    max-width: 600px;
    margin:0 auto;
    position: static;
        border-radius: 2%;
    margin-bottom:20px
  
  }

  .container__PD {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding-bottom: 1px;
    bottom: 0;
    right: 0;
  
  } 

  ul.slider__PD {
    position: absolute;
    top: 10px;
    max-width: 600px;
    width: 100%;
    aspect-ratio: 16/9;

}

  .menu__PD {
    display: flex;
    justify-content: center;
    margin: auto;
    height: auto;
    padding-top: 59%;
 
  }

.menu__PD > li:first-child {
   display: none; 
  }

.menu__PD > li:last-child {
   display: none; 
  }

   ul.slider__PD li img{
    width: 100%;
    height: auto; 

  } 

  .menu__PD li a img{
    border: 2px solid rgb(41, 61, 70); 
     margin:auto;
     padding: 2px; 
     width: 100%;
     min-width: 25vw;
     height: auto;
     max-width: 120px;
   
     aspect-ratio: 16/9;
   }   

   #descripcion__PD {
    margin-top:60px;        
    padding: 20px;
    text-align: center;
  }
  .specifications__PD {
    color: rgba(250, 246, 246, 0.918);
    background-color: #979dac;
    margin: 20px auto; 
    text-align: center;
    }

   

}


@media screen and (max-width: 360px) {

  .cart-section__PD {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-between;
    width: 100%;
    background-color: #33415c;
    max-width: 600px;
    margin:0 auto;
    position: static;
  
  }
      .menu__PD {
        display: flex;
        justify-content: center;
        margin: auto;
        height: auto;
        padding-top: 59%;
      }
  
    .menu__PD > li:first-child {
       display: none; 
      }

      .menu__PD > li:last-child {
        display: none; 
       }

      ul.slider__PD li img{
        width: 100%;
        height: auto; 

      }

      .menu__PD li a img{
        border: 2px solid rgb(41, 61, 70); 
         margin:auto;
         padding: 2px; 
         width: 100%;
         min-width: 25vw;
         height: auto;
         max-width: 120px;
       
         aspect-ratio: 16/9;
       }   


       #descripcion__PD {
        margin-top:60px;        
        padding: 20px;
        text-align: center;
      }
      .specifications__PD {
        color: rgba(250, 246, 246, 0.918);
        background-color: #979dac;
        margin: 20px auto; 
        text-align: center;
        }

}
 
