* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	



}

/* Header */
.navbar_header {
	width: 100%;
	height: 30%;
	background-color: rgb(24, 23, 23);
	overflow: auto;
	display: flex;
	flex-direction: row;
	padding-top: 5px;
	border: 1px grey solid;
}

.navbar_header a {
	float: left;
	padding: 10px;
	color: white;
	text-decoration: none;

}

.navbar_header a:hover {
	background-color: #000;
}

.left_bar {
	width: 60%;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	top: calc(50% - 10px);
}

.right_bar {
	width: 40%;
	justify-content: flex-end;
	position: relative;
	top: calc(60% - 10px);
}

.active {
	background-color: #555;
}

.logo_header {
	width: 60px;
	height: 60px;
	object-fit: cover;
	padding: 0;


}

/* Fin Header */

/*Barra Busqueda*/

.search-box {
	width: 70%;
	padding: .4rem;
	background-color: grey;
	border-radius: 20px;
	margin-top: 30px;
	border: none;
	color: #ffffff;
}

.fa-magnifying-glass {
	width: 10px;
	position: relative;
	margin-top: 35px;
	color: #ffffff;

}
.search-form{
	background-color: rgb(18 18 18);
}
/* section{
	background-color: rgb(18 18 18);
} */
/* ----------------------  */

.mainCart__Cart{
	/* margin-top: 1em; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
    background-color: rgb(18 18 18);
	/* align-items: center;  */

	
	
}



.containerTitleImg__Cart {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 1em;
	justify-content: space-around;	
	min-width: 200px;
	height: 200px;
	max-width:17vw;
	/* border: 2px solid red; */
}

.containerTitleImg__Cart img {
	width: 100%;
	/* flex-direction: flex-start; */
	object-fit: contain; 
	filter: drop-shadow(0 0 5px grey);
	background-color:rgb(32, 32, 32);
	border-radius: 3%;
	/* margin:auto; */
	align-content: flex-start;
	max-width: 280px;
	
	
}




.contItem2__Cart {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 17px;

	width: 100%;
	height: 10%;
	margin-top: 0.75em;
	/* margin-bottom: 1em; */


}
.containerCardGames__Cart{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content:  center;
	background-color:rgb(32, 32, 32);;
	border-radius: 3%;
	margin: 1em 1em 1em 1em;
	height: auto;
	flex-grow: 1;
}
.gamesCard__Cart{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	flex-grow: 1;
}


.containerInfoCard__Cart {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;	
	width: 258px;
	height: 190px;
	align-self: center;
	flex-grow: 2;
	margin: 1em 1em 1em 1em;
}
.contMainSumary__Cart{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	order: 1;
	text-align: center;
	border-radius: 4%;
	flex-grow: 1;	
	justify-content: center;
	
	/* align-items: center; */
	/* background-color:#5c5b58 ; */
	/* flex-direction: inherit; */
	
	
	
}
table{
	width: 180px;
}
.contSumary__Cart {
	display: flex;
	flex-direction: column;
	order: 3;
	width: 265px;/*CAMBIAR*/
	background-color: rgb(32, 32, 32);
	flex-grow: 1;
	border-radius: 3%;
	margin: 1em;
	/* height: 200px; */
	
	
	
	
	/* border: 1px solid red; */	
	/* height: fit-content; */	
	
	
}

.sumaryTable__Cart {
	width: 80%;
	color: white;
	/* background-color:#5c5b58 ; */
	border-radius: 4%;
	margin-top: 1em;
	text-align: flex-start;
	align-self:center; 
	
	
	
}


.contRankingGames__Cart {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	width: 265px;
	border: 1em;
	order: 1;
	 margin: 1em; 
	/* height: fit-content; */
	background-color:rgb(32, 32, 32);
	flex-grow: 1;
	border-radius:3%;
	
	

}


.tableRankingGames__Cart {
	width: 100%;
	color: white;
	
	border-radius: 3%;
	margin: 1em;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	height: fit-content;
	

}

p {
	color: white;
}

.info1Card__Cart > .info2Card__Cart {
	font-size: 0.80rem;

}




.paymentBtn__Cart {
	box-shadow:inset 0px 0px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:15px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1a4672;
	margin-top: 10vh;
	margin-bottom: 1em;
}
.paymentBtn__Cart:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.paymentBtn__Cart:active {
	position:relative;
	top:1px;
}

.btnCard__Cart {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btnCard__Cart:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btnCard__Cart:active {
	position:relative;
	top:1px;
}






@media screen and (min-width:0px) and (max-width:580px){
	/* .gamesCard__Cart, .contRankingGames__Cart{
		flex-direction: column;
	} */
	.contRankingGames__Cart{
		width: 290px;
		
		order:4;
	}

	.containerCardGames__Cart{
		margin: 1rem;
		order:-1;
		
		
	}
	.contSumary__Cart{

		order:0;
	}





}
@media screen and (min-width:530px) {
	
	
	.containerTitleImg__Cart{
		margin-left: 2em;
	}

}

@media screen and (min-width:768px) {
	
	
	.gamesCard__Cart{
		flex-direction: column;
	}

}

@media screen and (min-width:852px) and (max-width:1168px) {
	/* .contMainSumary__Cart{
		margin-left:auto;
		margin-right: auto;
	} */

	.mainCart__Cart{
		justify-content: flex-start;
	}
	}



@media screen and (min-width:852px) and (max-width:1169px) {
	.contRankingGames__Cart{
		order:8;
	} 


}



@media screen  and (min-width:1170px){
	.contRankingGames__Cart{
		order:-1;
	}

}





