
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
 
#body__PL{
    background-color: #37393b;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    /* display: flex; */
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-self: center;
    
  }

.myBtnContainer_plist{  
 display: flex;
  flex-wrap: wrap;
  min-width: 350px;  
  justify-content: center;
  
}
.btn_plist {  
  width: 300px;
  min-width: 300px;

  padding: 0.5rem;
  background-color: #0078f1;
  border: solid 1px white;
  margin: 20px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  color: #ddd;
  font-weight: bold;
  font-size: small;
  text-align: center;
  cursor: pointer;
  filter: drop-shadow(0 0 5px grey);

}
  .btn_plist:hover{
    transform: translate(5px,5px);
    box-shadow: 0px 0px 20px 5px rgba(100,100,100,1);
    
  }

.column_plist top_sellers show_plist{
  display: flex;
  flex-direction: column;
  align-items: center;
}


   /* Center website */
  .main_plist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    width: 100%;
    margin: 5px;
    align-items: center;
    justify-content: center;
    
  }
  

  
  /* h1 {
    font-size: 50px;
    word-break: break-all;
  } */
  
  .row_plist {
    /* margin: 8px -16px; */
    display:flex;/*ok*/
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;    
    justify-content: center;
    width: 100%;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  
  /* .row_plist > .column_plist {
    padding: 8px;
    
  } */
  
  /* Create three equal columns that floats next to each other */
  .column_plist {
    /* float: left; */
    width: 500px;
    display: none; 
    align-self: center;
    align-items: center; 
    margin: 1vw;
    /*Hide columns by default */
  }
  
  /* Clear floats after rows */
  .row_plist:after {
    content: "";
   align-items: center;
    clear: both;
  }

  /* Content */
  .content_plist {
    width: 100%;
    min-width: 320px;
     display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
    margin: 10px;
    /* padding: 2px; */
    color: white;
    font-size: medium;
    border: .5px solid #999;
    


}


h2 {
  color: white;
  text-shadow: 3px 3px 5px #000000;
  font-size: 2vw;
  filter: drop-shadow(0 0 5px grey);
}
.content_plist :hover  {filter: opacity(.5);}
  
  /* The "show" class is added to the filtered elements */
  .show_plist {
    display: flex;
    flex-direction: row;    
  }
  



  #category_plist{
    font-size:smaller;
    /*position: absolute;*/
    bottom: 5px;
    left: 5px;
    background-color:#000000;
    color: #ffffff;
    padding-left: 2px;
    padding-right: 2px;
    
  }

  #title_box_plist{
    font-weight: bold ;
    padding-left: 5px;
    align-self: center;
    font-size: medium;
  }

  #text_box_plist{
    font-weight: lighter ;
    padding-left: 5px;
  }
  
  #creator_box_plist{
    font-size:smaller;
    padding-left: 5px;
  }
  .price_line_plist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .original_price_plist{
    font-size: smaller;
    padding: 2px;
    font-weight: lighter;
  }
  .price_w_discount_plist{
    font-size: small;
    font-weight: bold;
    padding: 2px;
  
  }
  .discount_detail_plist{
    font-size: smaller;
    font-weight: bold;
    float:right;
    border: .5px solid #c7c7c7;
    /*margin-right: 2px;*/
    text-align: center;
    padding-top: 2px;
    border-radius: 4px;
  }

#game_group{
  /* float:left; */
  border: .5px solid gray;
  border-radius: 3px;
  background-color: gray;
  font-size: smaller;
}