<html>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Games</title>

    <link rel="stylesheet" href="/css/styles_productCart.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />


  </head>

  <body>
    <header>
      <%- include('partials/header.ejs')  %> 
    </header>


    <form class="search-form">
      <input type="text" class="search-box" placeholder="Search                                 ">
      <i class="fa-solid fa-magnifying-glass" style='color: white'></i>
    </form>

    <section>
      
      <article>

        <div class="mainCart__Cart">
          <div class="contRankingGames__Cart">


            <table class="tableRankingGames__Cart" border="1px">
              <tr>
                <td>UnderGames</td>
                <td>Plataforma</td>
                <td>Top Rank</td>
              </tr>


              <tr>
                <td>
                  Game
                </td>
                <td>Ps 5</td>
                <td>
                  <center>1</center>
                </td>


              </tr>
              <td>
                Game
              </td>
              <td>Windows</td>
              <td>
                <center>2</center>
              </td>


              <tr>
              </tr>

              <td>
                Game
              </td>
              <td>Ps 4</td>
              <td>
                <center>3</center>
              </td>


              <tr>
                <td>
                  Game
                </td>
                <td>Game Cube</td>
                <td>
                  <center>4</center>
                </td>


              </tr>
              <tr>
                <td>
                  Game
                </td>
                <td>Windows</td>
                <td>
                  <center>5</center>
                </td>


              </tr>
              <tr>
                <td>
                  Game
                </td>
                <td>Windows</td>
                <td>
                  <center>6</center>
                </td>


              </tr>
              <tr>
                <td>
                  Game
                </td>
                <td>Ps 5</td>
                <td>
                  <center>7</center>
                </td>


              </tr>
              <tr>
                <td>
                  Game
                </td>
                <td>Super Nintendo</td>
                <td>
                  <center>8</center>
                </td>


              </tr>
              <tr>
                <td>
                  Game
                </td>
                <td>Ps 5</td>
                <td>
                  <center>9</center>
                </td>


              </tr>
              <tr>
                <td>
                  Game
                </td>
                <td>Ps 5</td>
                <td>
                  <center>10</center>
                </td>


              </tr>

            </table>
          </div>
          <div class="contMainSumary__Cart">
            <div class="contSumary__Cart">

              <table class="sumaryTable__Cart" border="1px">
                <tr>
                  <td>
                    Sumary Cart
                  </td>
                  <td>
                    Price
                  </td>
                </tr>

                <tr>
                  <td>
                    Game
                  </td>
                  <td>
                    120US$
                  </td>

                </tr>
                <td>
                  Game
                </td>
                <td>
                  120US$
                </td>

                <tr>
                </tr>

                <td>
                  Game
                </td>
                <td>
                  120US$
                </td>

                <tr>
                  <td>
                    Game
                  </td>
                  <td>
                    120US$
                  </td>

                </tr>
                <tr>
                  <td>
                    Subt Total
                  </td>
                  <td>
                    360US$
                  </td>

                </tr>
                <tr>
                  <td>
                    Discounts
                  </td>
                  <td>
                    120US$
                  </td>

                </tr>
                <tr>
                  <td>
                    Total
                  </td>
                  <td>
                    240US$
                  </td>

                </tr>

              </table><br>
              <div class="paymentsBtnCard__Cart"><a href="/under_constr" target="#" class="paymentBtn__Cart">Check Out</a></div>
            </div>


          </div>


          <div class="gamesCard__Cart">

            <div class="containerCardGames__Cart">
              <div class="containerTitleImg__Cart">
                <div class="contItem2__Cart">
                  <p>Title 1</p>
                </div>
                <img src="https://fondosmil.com/fondo/13133.jpg">

              </div>
              <div class="containerInfoCard__Cart">

                <div class="info1Card__Cart">
                  <p class="titleCard__Cart">Windows</p><br>
                  <p class="descriptionCard1__Cart">Multiplayer</p><br>
                  <p class="descriptionCard2__Cart">+18</p><br>
                  <div class="detailsBtnCard__Cart"><a href="/productDetail" class="btnCard__Cart">Details</a></div>


                </div>

                <div class="info2Card__Cart">
                  <p class="priceInfo__Cart">$2000</p><br>
                  <p class="discountPrice__Cart">50% OFF</p><br>
                  <p class="finalPrice__Cart">$1000</p><br>
                  <div class="removeBtn__Cart"><a href="/under_constr" class="btnCard__Cart">Remove</a></div>
                </div>


              </div>

            </div>
            <div class="containerCardGames__Cart">
              <div class="containerTitleImg__Cart">
                <div class="contItem2__Cart">
                  <p>Title 2</p>
                </div>
                <img src="https://as01.epimg.net/meristation/imagenes/2018/07/17/noticias/1531847115_399598_1531847301_noticia_normal.jpg">

              </div>
              <div class="containerInfoCard__Cart">

                <div class="info1Card__Cart">
                  <p class="titleCard__Cart">PS 5</p><br>
                  <p class="descriptionCard1__Cart">Multiplayer</p><br>
                  <p class="descriptionCard2__Cart">+16</p><br>
                  <div class="detailsBtnCard__Cart"><a href="/productDetail" class="btnCard__Cart">Details</a></div>


                </div>

                <div class="info2Card__Cart">
                  <p class="priceInfo__Cart">$160</p><br>
                  <p class="discountPrice__Cart">50% OFF</p><br>
                  <p class="finalPrice__Cart">$80</p><br>
                  <div class="removeBtn__Cart"><a href="/under_constr" class="btnCard__Cart">Remove</a></div>
                </div>


              </div>

            </div>
            <div class="containerCardGames__Cart">
              <div class="containerTitleImg__Cart">
                <div class="contItem2__Cart">
                  <p>Title 3</p>
                </div>
                <img src="https://fondosmil.com/fondo/3550.jpg">

              </div>
              <div class="containerInfoCard__Cart">

                <div class="info1Card__Cart">
                  <p class="titleCard__Cart">Windows</p><br>
                  <p class="descriptionCard1__Cart">Multiplayer</p><br>
                  <p class="descriptionCard2__Cart">+12</p><br>
                  <div class="detailsBtnCard__Cart"><a href="/productDetail" class="btnCard__Cart">Details</a></div>


                </div>

                <div class="info2Card__Cart">
                  <p class="priceInfo__Cart">$100</p><br>
                  <p class="discountPrice__Cart">10% OFF</p><br>
                  <p class="finalPrice__Cart">$90</p><br>
                  <div class="removeBtn__Cart"><a href="/under_constr" class="btnCard__Cart">Remove</a></div>
                </div>


              </div>

            </div>

          </div>

        </div>


      </article>








    </section>
    <footer>
      <%- include('partials/footer.ejs')  %> 
  </footer>
  </body>
  

</html>
