<html>

  <head>
    <%- include('partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/styles_productCart.css">
    <link rel="stylesheet" href="/css/search_bar.css">
  </head>


  <body>
    <header>
      <%- include('partials/header.ejs')  %>  
      <%- include('partials/search_bar')  %>  
    </header>


   




    <section>
      <article>

        <div class="mainCart__Cart">
          <div class="contRankingGames__Cart">


            <table class="tableRankingGames__Cart" border="1px">
              <tr>
                <td>UnderGames</td>
                <td>Plataforma</td>
                <td>Top Rank</td>
              </tr>


              <tr>
                <td>
                  Game
                </td>
                <td>Ps 5</td>
                <td>
                  <center>1</center>
                </td>


              </tr>
              <td>
                Game
              </td>
              <td>Windows</td>
              <td>
                <center>2</center>
              </td>


              <tr>
              </tr>

              <td>
                Game
              </td>
              <td>Ps 4</td>
              <td>
                <center>3</center>
              </td>


              <tr>
                <td>
                  Game
                </td>
                <td>Game Cube</td>
                <td>
                  <center>4</center>
                </td>


              </tr>
              <tr>
                <td>
                  Game
                </td>
                <td>Windows</td>
                <td>
                  <center>5</center>
                </td>


              </tr>
              <tr>
                <td>
                  Game
                </td>
                <td>Windows</td>
                <td>
                  <center>6</center>
                </td>


              </tr>
              <tr>
                <td>
                  Game
                </td>
                <td>Ps 5</td>
                <td>
                  <center>7</center>
                </td>


              </tr>
              <tr>
                <td>
                  Game
                </td>
                <td>Super Nintendo</td>
                <td>
                  <center>8</center>
                </td>


              </tr>
              <tr>
                <td>
                  Game
                </td>
                <td>Ps 5</td>
                <td>
                  <center>9</center>
                </td>


              </tr>
              <tr>
                <td>
                  Game
                </td>
                <td>Ps 5</td>
                <td>
                  <center>10</center>
                </td>


              </tr>

            </table>
          </div>
          <div class="contMainSumary__Cart">
            <div class="contSumary__Cart">

              <table class="sumaryTable__Cart" border="1px">
                <tr>
                  <td>
                    Sumary Cart
                  </td>
                  <td>
                    Price
                  </td>
                </tr>

                <tr>
                  <td>
                    Game
                  </td>
                  <td>
                    120US$
                  </td>

                </tr>
                <td>
                  Game
                </td>
                <td>
                  120US$
                </td>

                <tr>
                </tr>

                <td>
                  Game
                </td>
                <td>
                  120US$
                </td>

                <tr>
                  <td>
                    Game
                  </td>
                  <td>
                    120US$
                  </td>

                </tr>
                <tr>
                  <td>
                    Subt Total
                  </td>
                  <td>
                    360US$
                  </td>

                </tr>
                <tr>
                  <td>
                    Discounts
                  </td>
                  <td>
                    120US$
                  </td>

                </tr>
                <tr>
                  <td>
                    Total
                  </td>
                  <td>
                    240US$
                  </td>

                </tr>

              </table><br>
              <div class="paymentsBtnCardCart"><a href="/under_constr" target="#" class="paymentBtn__Cart">Check Out</a></div>
            </div>


          </div>


          <div class="gamesCard__Cart">

            <div class="containerCardGames__Cart">
              <div class="containerTitleImg__Cart">
                <div class="contItem2__Cart">
                  <p class="infoCardVarios__Cart">Title 1</p>
                </div>
                <img src="https://fondosmil.com/fondo/13133.jpg">

              </div>
              <div class="containerInfoCard__Cart">

                <div class="info1Card__Cart">
                  <p class="infoCardVarios__Cart">Windows</p><br>
                  <p class="infoCardVarios__Cart">Multiplayer</p><br>
                  <p class="infoCardVarios__Cart">+18</p><br>
                  <div class="detailsBtnCard__Cart"><a href="/productDetail" class="btnCard__Cart">Details</a></div>


                </div>

                <div class="info2Card__Cart">
                  <p class="infoCardVarios__Cart">$2000</p><br>
                  <p class="infoCardVarios__Cart">50% OFF</p><br>
                  <p class="infoCardVarios__Cart">$1000</p><br>
                  <div class="removeBtn__Cart"><a href="/under_constr" class="btnCard__Cart">Remove</a></div>
                </div>


              </div>

            </div>
            <div class="containerCardGames__Cart">
              <div class="containerTitleImg__Cart">
                <div class="contItem2__Cart">
                  <p class="infoCardVarios__Cart">Title 1</p>
                </div>
                <img src="https://fondosmil.com/fondo/13133.jpg">

              </div>
              <div class="containerInfoCard__Cart">

                <div class="info1Card__Cart">
                  <p class="infoCardVarios__Cart">Windows</p><br>
                  <p class="infoCardVarios__Cart">Multiplayer</p><br>
                  <p class="infoCardVarios__Cart">+18</p><br>
                  <div class="detailsBtnCard__Cart"><a href="/productDetail" class="btnCard__Cart">Details</a></div>


                </div>

                <div class="info2Card__Cart">
                  <p class="infoCardVarios__Cart">$2000</p><br>
                  <p class="infoCardVarios__Cart">50% OFF</p><br>
                  <p class="infoCardVarios__Cart">$1000</p><br>
                  <div class="removeBtn__Cart"><a href="/under_constr" class="btnCard__Cart">Remove</a></div>
                </div>


              </div>

            </div>
            <div class="containerCardGames__Cart">
              <div class="containerTitleImg__Cart">
                <div class="contItem2__Cart">
                  <p class="infoCardVarios__Cart">Title 1</p>
                </div>
                <img src="https://fondosmil.com/fondo/13133.jpg">

              </div>
              <div class="containerInfoCard__Cart">

                <div class="info1Card__Cart">
                  <p class="infoCardVarios__Cart">Windows</p><br>
                  <p class="infoCardVarios__Cart">Multiplayer</p><br>
                  <p class="infoCardVarios__Cart">+18</p><br>
                  <div class="detailsBtnCard__Cart"><a href="/productDetail" class="btnCard__Cart">Details</a></div>


                </div>

                <div class="info2Card__Cart">
                  <p class="infoCardVarios__Cart">$2000</p><br>
                  <p class="infoCardVarios__Cart">50% OFF</p><br>
                  <p class="infoCardVarios__Cart">$1000</p><br>
                  <div class="removeBtn__Cart"><a href="/under_constr" class="btnCard__Cart">Remove</a></div>
                </div>


              </div>

            </div>
          

          </div>

        </div>


      </article>








    </section>
    <footer>
      <%- include('partials/footer.ejs')  %> 
  </footer>
  </body>
  

</html>
