<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ups!</title>

    <%- include('./partials/styles')%>

</head>
<body>
    <%- include('./partials/header')%>    
    <%- include('./partials/search_bar')%> 

<br>
<br>
    <p id="come_back">We are working on this section, come back soon!</p>
    <br>
    <br>
    
    <img src="/images/under_constr.png" id="under-constr">


    <%- include('./partials/footer')%>
</body>
</html>