<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs')  %> 
    </head>
<body>
    <%- include('./partials/header')%>    
    <%- include('./partials/search_bar')%> 


    <h1>We are working on this section, come back soon!</h1>
    <img src="/images/under_constr.png" id="under-constr" width="90%" height="auto">


    <%- include('./partials/footer')%>
</body>
</html>