<div id="body_header">
<header class="header">
        <nav class="navbar">
            <a href="/"> <img src="/images/logo_1.png" alt="" class="logo_image"></a>
            <a href="/" class="nav-logo">Under Games</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/Admin">ADMIN</i></a> 
                </li>
                <li class="nav-item">
                    <a href="/login" class="fa-solid fa-user fa-xl"></i></a> 
                </li>

                <li class="nav-item">
                    <a href="/productCart"><i class="fa-solid fa-cart-shopping fa-xl"></i></a> 
                </li>
                <li class="nav-item">
                    <a href="/under_constr"><i class="fa-solid fa-circle-question fa-xl"></i></a> 
                </li>
                
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
</div>

<script>
const hamburger = document.querySelector(".hamburger");
const navMenu = document.querySelector(".nav-menu");
const navLink = document.querySelectorAll(".nav-link");

hamburger.addEventListener("click", mobileMenu);
navLink.forEach(n => n.addEventListener("click", closeMenu));

function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
}

function closeMenu() {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");
}
</script>

