<form class="search-form">
    <input type="text" class="search-box" 
    placeholder="Search                                 "/>
    <i class="fa-solid fa-magnifying-glass"  style='color: white'></i>      
</form>
